extends layout

block nav
    nav
        h1 #{title}
        ul
            li
                a(href='/') Home
            li
                a(href='/menu' class="active") Menu
            li
                a(href='/orders') View orders
            li
                div(id="basketBtn")
                    a(href="/basket")
                        i(class='fas fa-shopping-cart')
                        // taken from https://stackoverflow.com/questions/149055/how-can-i-format-numbers-as-dollars-currency-string-in-javascript
                        p(id="basketTotal")= "£" + basket.total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                        p(id="basketNoItems")= "Items: "+basket.items.length
block content
    h2 Please enter your contact details 
    h3 Collection only
    form(action='/api/order' method='post')
        p First name:
        input(id="firstName", type='text', name='firstname', placeholder='Mickey')
        p Last name:
        input(id="lastName", type='text', name='lastname', placeholder='Mouse')
        p Phone number:
        input(id="phoneNumber", type='number', name='Phone number')
        br
    p= "Total (including VAT): £"+basket.total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
    button(onclick="backToBasket()") Back
    button(onclick="doOrder()") Place order
block append scripts
    script(src="/js/checkout.js")