extends layout

block nav
    nav
        h1 #{title}
        ul
            li
                a(href='#' class="active") Home
            li
                a(href='/menu') Menu
            li
                a(href='/reviews') Reviews
            li
                div(id="basketBtn")
                    a(href="/order")
                        i(class='fas fa-shopping-cart')
                        // taken from https://stackoverflow.com/questions/149055/how-can-i-format-numbers-as-dollars-currency-string-in-javascript
                        p(id="basketTotal")= "£" + (basket.total).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
                        p(id="basketNoItems")= "Items: "+basket.items.length

block content
    section
        h1 Welcome to the best pizzeria in Southsea
        p
            |   Try our new online website which contains our entire takeaway menu! 
            |   It&apos;s so easy to use, fast and convienient. 
            |   You can now order all your favorite dishes and many more delicious options online
            |   and have them delivered straight to your door!
        image(src='/images/la-pizza-a-roma.jpg' width='100%' height='100%')
    
    section
        iframe(width='100%', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?q=po15ea&key=AIzaSyCfWwCqqbJ8tiBum0KDt5lgvtZ25shucoo', allowfullscreen='')
