doctype html
html
  head
    title #{title}
    link(href='/styles/style.css', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', rel='stylesheet', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
  body
    block nav
    main
        block content
    block scripts
        script(src='/js/utils.js')