* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
    font-family: verdana;
}

/* Navbar and nav links */
nav {
    display: block;
    background-color:  #ff671b;
    padding: 20px;
    margin-bottom: 20px;
}

nav h1 {
    display:inline;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    display: flex;   
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    list-style-type: none;
}

nav ul li a{
    text-decoration-line: none;
    margin: 5px;

    color: black;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a.active {
    background-color: #ff9400;
}

nav ul li a:hover {
    background-color: #b83d00;
}

#basketBtn{
    display: flex;
}


button{
    background-color: black;
    color: #6cff00;
    height: 30%;
    width: 30%;
    font-weight: bold;
    border-style: none;
    padding: 5px;
    margin: 5px 0;
}
button:hover{
    background-color: #6cff00;
    color: black;
}


/* 
    Main content
*/

section img {
    object-fit: cover;
}

.pizza {
    display:block;
    padding: 10px;
    margin: 5px 25%;
    background-color: #ff9400;
    list-style-type: none;
}

.drink {
    display:block;
    padding: 10px;
    margin: 5px 25%;
    background-color: #00ebff;
    list-style-type: none;
}

.side {
    display:block;
    padding: 10px;
    margin: 5px 25%;
    background-color: #ff006c;
    list-style-type: none;
}

/*
    Footer stuff
*/
footer {
    display: flex;
    flex-flow: row wrap;
    background-color:  #ff671b;
    padding: 10px;
    /* margin-top: 20px; */
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration-style: none;
}

footer table {
    margin: 50px 0;
    display: inline;
}
