* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
}

/* Navbar and nav links */
nav {
    background-color:  #ff671b;
    padding: 20px;
    margin-bottom: 20px;
}

nav h1 {
    display:inline;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    display: flex;   
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    list-style-type: none;

}

nav ul li a{
    text-decoration-line: none;
    margin: 5px;

    color: black;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a.active {
    background-color: #ff9400;
}

nav ul li a:hover {
    background-color: #b83d00;
}



/* 
    Main content
*/

section img {
    object-fit: cover;
}

.pizza {
    display:block;
    padding: 10px;
    margin: 5px 25%;
    background-color: #ff9400;
    list-style-type: none;
}
/*
    Footer stuff
*/
.footer {
    display: flex;
    flex-flow: row wrap;
    background-color:  #ff671b;
    padding: 10px;
    margin-top: 20px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    text-decoration-style: none;
}

.footer table {
    margin: 50px 0;
    display: inline;
}
